body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.pesquisar{
    height: 100vh;
    background: linear-gradient(120deg, #0fee0f, #0e20c7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisar__container{
    min-height: 300px; 
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pesquisar_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pesquiar__title{
    font-size: 25px;
    margin-bottom: 32px;
    color: #303030;
}
.pesquisar__input{
    font-size: 15px;
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none; 
}
.pesquisar__inicio{
    font-size: 15px;
    color: #929292;
    text-decoration: none;
}
.pesquisar__alt{
    font-size: 15px;
    color: #929292;
    text-decoration: none;
}
.pesquisar__del{
    font-size: 15px;
    color: #929292;
    text-decoration: none;
}
.pesquisar__submit{
    height: 48px;
    width: 200px;
    outline: none;
    background: linear-gradient(160deg, #0fee0f, #0e20c7, #0fee0f);
    background-size: 360px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 40px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.pesquisar__submit:hover{
    background-position:right;
}


